.contents {
    margin: 10px 15px 10px 15px;
    overflow: auto;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow:  -5px 5px 10px	rgba(210, 210, 210, 0.5),
                5px -5px 10px rgba(245, 245, 245, 0.7);
}

.Cardimg {
    width: 20em;
    height: 15em;
    object-fit: cover;
    border-radius: 50px;
}

.Sidenav {
    padding: 0px 10px 10px 0px;
    float: left;
    text-align: center;
}

.Comment {
    padding-top: 2em;
    text-align: left;
    width: 100%;
    float: center;
    word-break: normal;
}

.Bold-font {
    color: #3f3f3f;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
}

.Light-font {
    color: #3f3f3f;
    font-weight: lighter;
    font-size: calc(10px + 2vmin);
}