/*----------------------------------------------------------------
Mobile Content
----------------------------------------------------------------*/
.Contents {
    border-radius: 50px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow:  -5px 5px 10px	rgba(210, 210, 210, 0.5),
                5px -5px 10px rgba(245, 245, 245, 0.7);
}

.Cardimg {
    width: 18em;
    height: 15em;
    object-fit: cover;
    border-radius: 50px;
}

.Sidenav {
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 2em;
    font-weight: bold;
    font-size: 15;
}

.Comment {
    padding: 2em 1em 2em 1em;
    text-align: center;
    word-break: normal;
}

/*----------------------------------------------------------------
PC Content
----------------------------------------------------------------*/

.PC_Contents {
    margin: 10px 15px 10px 15px;
    overflow: auto;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow:  -5px 5px 10px	rgba(210, 210, 210, 0.5),
                5px -5px 10px rgba(245, 245, 245, 0.7);
}


.PC_Cardimg {
    width: 20em;
    height: 15em;
    object-fit: cover;
    border-radius: 50px;
}

.PC_Sidenav {
    padding: 0px 10px 10px 0px;
    float: left;
    text-align: center;
}

.PC_title {
    text-align: left;
    padding-top: 2em;
    font-weight: bold;
    font-size: 15;
}

.PC_Comment {
    padding-top: 2em;
    text-align: left;
    width: 100%;
    float: center;
    word-break: normal;
}

/*----------------------------------------------------------------
Font config
----------------------------------------------------------------*/

.Bold-font {
    color: #3f3f3f;
    text-align: center;
    font-weight: bold;
    font-size: calc(10px + 2vmin);
}

.Light-font {
    color: #3f3f3f;
    font-weight: lighter;
    font-size: calc(10px + 2vmin);
}